*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Footer Part*/
ul{
    list-style: none;
}
li{
    display: inline;
}
.foter{
    text-align: center;
    
    background-color: #FF6398;
    margin-top: 1cm;
    margin-bottom: .5cm;
    border: bold 1cm;
    border-radius: 10px;
    padding: .3cm;
}

.footer-atag{
    color: beige;
    text-decoration: none;
    padding: .5cm;
} 
a:hover{
    color: blue;
}
.footer-p{
    color: grey black;
    font-size: larger;
} 
/*Header part*/
header{
    text-align: center;
    background-color: #FF6398;
    
    border-radius: 10px;
    margin-bottom: 2cm;
    
} 
h1{
    padding-top: .5cm;
}
nav{
    display: flex;
    justify-content: center;
    
} 
.header-a{
    text-decoration: none;
    color: beige;
    padding: .5cm;
} 
/*img and descreption*/
img{
    width: 500px;
    margin: auto;
    display: block;
}
h2{
    text-align: center;
    margin-top: 1cm;
    margin-bottom: 2cm;
}
span{
    color:#950434;
}
/*technologies section*/
#technologies{
    background-color: whitesmoke;
    padding: .3cm;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*projects section*/
#projects{
    text-align: center;
    margin-bottom: 2cm;
}
#projects h2{
    margin-bottom: 1cm;
}
/*Blogs section*/
#blogs{
    background-color: whitesmoke;
    text-align: center;
    padding-top: .5cm;
    padding-bottom:1cm;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*Home page end------------------------------------------------------------------------------------------------------------------*/

/*Projects page/page2 starts...*/
#projects-page-h1{
    padding: 2cm;
    margin: auto;
}
.projectlink{
    color: beige;
    background-color: #FF6398;
    padding: 5px;
    text-decoration: none;
    border: solid 1px;
    border-radius: 10px;
    margin-right: 2px;
}
.live-project{
    color:  #FF6398;
    background-color:rgb(247, 247, 196);
    padding: 5px;
    text-decoration: none;
    border-color: #FF6398;
    border: solid 1px;
    border-radius: 10px;
    margin-left: 2px;

}
.project-page-div{
    background-color:whitesmoke;
    border: solid whitesmoke;
    text-align: center;
    padding-top: .5cm;
    padding-bottom: 1cm;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-page-p{
    text-align: center;
    max-width:500px;
    display: block;
    margin: auto;
    margin-bottom: 1cm;
    color: #950434;
}

/*"View source has been coppied from Index.html pge codes"*/

/*Page2/Projects page ends-------------------------------------------------------------------------------------------------------*/
/*page3/Blog page starts.........*/
#blog-page-h1{
    padding: 2cm;
    margin: auto;
    text-align: center;

}
#blog-page-p{
  color: #950434;
  padding-bottom: .3cm;
}

/*blog1*/
#blog-1{
    background-color:whitesmoke;
    border: solid whitesmoke;
    text-align: center;
    margin: auto;
    margin-bottom: 1cm;
    max-width: 50%;
    padding: 1cm;
    padding-top: .5cm;
    padding-bottom: 1cm;
   border-radius: 20px;

}
/*blog-2*/
#blog-2{
    background-color:whitesmoke;
    border: solid whitesmoke;
    text-align: center;
    margin: auto;
    margin-bottom: 1cm;
    max-width: 50%;
    padding: 1cm;
    padding-top: .5cm;
    padding-bottom: 1cm;
   border-radius: 20px;

 
}
/*---------------------------------------------------------------"ENDDD"-------------------------------------------------------------------*/

    
    


